<script id="bootstrapFlash" type="text/template">
<div id="alert" class="alert-message success fade in">
  <a class="close" href="#">x</a>
  <p><strong>{{= title }}</strong> {{= message }}</p>
</div>
</script>

<div id="flash"></div>



<div class="row">

  <div class="col-xs-10 col-xs-offset-2">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= pluralize(obj.errors.count, "error") %> prohibited this article from being saved:
        </h3>

      <div class="panel-body">
        <ul>
          <% obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <%end%>
        </ul>
      </div>
        </div>
    </div>
  </div>
</div>
