


<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="brand-display">TradieFind</h1>
        <p>Need a tradie fast?</p>
        <p>You've Come To The Right Place!</p>
        <p>
           <%= link_to "log in", login_path, class: "btn btn-default btn-lg" %>
           <%= link_to "Sign up", new_user_path, class:"btn btn-default btn-lg" %>
        </p>
      </div>
    </div>
