<div id="container">
<div id="main">
  <h1>TradieFind</h1>
  <h3>Break down on the road? Need a tradie fast?</h3>
  <h2>You've Come To The Right Place!</h2>



</div>


<script type="text/template" id='appViewTemplate'>
  <div><p></p></div>
      <!-- Search function to find tradies nearby certain areas on certain dates -->
      <form action="" id="searchForm">
      <label for="placefield">Origin:</label>
      <select id="placefield">
      </select>

      <label for="datefield">Date:</label>
      <input type="date" id="datefield">

      <button id="searchSubmit">Search</button>
      </form>
</script>
</div>
