

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="brand-display">TradieFind</h1>
        <p>Need a tradie fast?</p>
        <p>You've Come To The Right Place!</p>
        <p>
           <%= link_to "log in", login_path, class: "btn btn-default btn-lg" %>
           <%= link_to "Sign up", new_user_path, class:"btn btn-default btn-lg" %>
        </p>
      </div>
    </div>



      <script type="text/template" id='appViewTemplate'>
        <!-- Search function to find tradies nearby certain areas on certain dates -->
          <h1>sdfweqrsdsdfdsf</h1>
          <form action="" id="searchForm">
          <label for="placefield">Location:</label>
          <select id="placefield">
          </select>

          <label for="datefield">Date:</label>
          <input type="date" id="datefield">

          <button id="searchSubmit">Search</button>
          </form>
      </script>



      <script type="text/template" id='reservationViewTemplate'>

        <p>Name: </p>
        <p>Company Name: </p>
        <p>Phone Number: </p>
        <p>Price: </p>
        <p>Rating: </p>

      <button id="cancel-reservation">Cancel Reservation</button>
      <button id="confirm-reservation">Confirm Reservation</button>


      <script type="text/template" id='confirmationViewTemplate'>

          <h2>Thank You <%%= app.current_user.name %>. The "tradie" has been notified of your request.</h2>
          <p>Name: </p>
          <p>Company Name: </p>
          <p>Phone Number: </p>
          <p>Price: </p>
          <p>Rating: </p>

          <p><%= link_to 'Go Back Home', root_path  %></p>

      </script>
