# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e941ba14cdbf5704aeb698e006b7625922f235dc1ac63fb635b69f7a5b1129f9aeccc7c6b0f07f8886f5fe8daa67c639a0aa084b398fb5ba4abc511c73ba5d6a

test:
  secret_key_base: 4ad8f585d548407ac2f24016ba09f1f80710ce614da0bcc0f0c1853147db5f6e347db8b68c51a1e7274c2e29a12582b3d01dfafb71ddfcd83fdf88f1d49b3d49

development:
  stripe_publishable_key: pk_test_cKhPAecRwMnAmIySaOqbaADS
  stripe_secret_key: sk_test_fvAa0krfddW4pk7taokBuD90


# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
