/*// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//*/

img.img3 {
  position: absolute;
  bottom:0;
  right:0;
  z-index: -1000;
  width:50%;
  height:50%;
  opacity:0.8;
}

img.img4 {
  position: absolute;
  top:0;
  right:0;
  z-index: -1000;
  width:50%;
  height:50%;
  opacity:0.8;
}

img.img5 {
  position: absolute;
  top:0;
  left:0;
  z-index: -1000;
  width:50%;
  height:50%;
  opacity:0.8;
}

img.img6 {
  position: absolute;
  bottom:0;
  left:0;
  z-index: -1000;
  width:50%;
  height:50%;
  opacity:0.8;
}

.paymentform {
  margin-left:390px;
  color: white;
}

.paymentform a {
  color: white;
}
