// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  box-sizing: border-box;
  // background-color: #A1887F !important;
  background: linear-gradient(
    to right,
    #ff9e2c 0%,
    #ff9e2c 50%,
    #A1887F 50%,
    #A1887F 100%
  );
  font-family: 'PT Sans Narrow', sans-serif !important;
}

.avatar img {
  border-radius: 33%;
}

.jumbotron{
  text-align: center;
  p {
    font-size: 14px;
  }
}

#mappy{
  margin: 0 auto;
  text-align: center;
}

#cust_location_map1 {
  margin: 0 auto;
  // width: 50vw;
  height: 80vh;
  border-radius: 3%;

}

.footer{
  text-align: center;

}
#username{
  margin-top: 15px;
  font-size: 1.3em;
}

#homeSearchSubmit{
   width: 100% !important;
}

.search-label{
  text-align: right !important;
}

#homeSearchForm{
  margin: 40px;
}

#amountp {
  font-style: italic;
  text-align: center;
}

.stripe-button {
  text-align: center;
}

.contactus {
  text-align: left;
}

.btn.btn-danger {
  margin-top: 10px;
}

.navbar-default .navbar-brand {
  color: #03A9F4;
}

.img1 {
  border-radius: 3%;
}

.img2 {
  border-radius: 3%;
}

// .paymentpage {
//     background-image: url(http://imgur.com/ESqlmv1), url(http://imgur.com/AvORiXX), url(http://imgur.com/YqRC5LI), url(http://imgur.com/Vp7GJbm);
// }

.homeIndexContent {
  position: relative;
}

.homeIndexContent img {
  position: absolute;
}

.homeIndexContent .img1 {
  max-height: 360px;
  max-width: 269px;
  left: 0;
  top: 0;
}

.homeIndexContent .img2 {
  max-height: 360px;
  max-width: 269px;
  right: 0;
  bottom: 0;
}

.howWork {
  text-align: left;
  margin-top: 100px;
}

.benefits {
  text-align: right;
}

.navbar-brand {
  list-style: none;
}

#copyright {
  margin-top: 50px;
}

.view-quotes-list{
  background-color: #BBD6AF;
}

.decline-quote{
  background-color: #f2dede;
}

.accept-quote{
  background-color: #BBD6AF;
}

.sub-invisible{
  visibility: hidden;
   position: absolute;
   top: -9999px;
}

.sub-visible{
  visibility: visible;
     position: static;
}

.hide{
  display:none;
  background-color: red;
}

#cust_location_label{
  display: none;
}



.completed-quote{
  background-color: #D9EDF7;
}
// .img3{
//   text-align: center;
// }
// .img4{
//   text-align: center;
// }
