// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron{
  text-align: center;
}

.footer{
  text-align: center;

}
#username{
  margin-top: 15px;
  font-size: 1.3em;
}

#homeSearchSubmit{
   width: 100% !important;
}

.search-label{
  text-align: right !important;
}

#homeSearchForm{
  margin: 40px;
}

.howWork {
  text-align: left;
}

.howWork img {
  vertical-align: right;
  text-align: right;
}

.benefits {
  text-align: right;
}

.benefits img {
  vertical-align: left;
  text-align: left;
}

#copyright {
  margin-top: 100px;
}
