// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  box-sizing: border-box;
  // background-color: #A1887F !important;
  background: linear-gradient(
    to right,
    #ff9e2c 0%,
    #ff9e2c 50%,
    #A1887F 50%,
    #A1887F 100%
  );
  font-family: 'PT Sans Narrow', sans-serif !important;
}
.jumbotron{
  text-align: center;
}

.footer{
  text-align: center;

}
#username{
  margin-top: 15px;
  font-size: 1.3em;
}

#homeSearchSubmit{
   width: 100% !important;
}

.search-label{
  text-align: right !important;
}

#homeSearchForm{
  margin: 40px;
}

.homeIndexContent {
  position: relative;
}

.homeIndexContent img {
  position: absolute;
}

.homeIndexContent .img1 {
  max-height: 360px;
  max-width: 269px;
  left: 0;
  top: 0;
}

.homeIndexContent .img2 {
  max-height: 360px;
  max-width: 269px;
  right: 0;
  bottom: 0;
}

.howWork {
  text-align: left;
  margin-top: 100px;
}

.benefits {
  text-align: right;
}

.navbar-brand {
  list-style: none;
}

#copyright {
  margin-top: 50px;
}
