<div class="container">

  <footer class="footer">
    <div class="homeContent">
      <div class="benefits">
       <h2> Benefits Of Using TradieFind </h2>
       <p>No more searching through Yellow Pages or Local Papers.</p>
       <p> No more ringing around chasing tradespeople. </p>
       <p> No more unreturned phone calls or worse ‘NO SHOWS’ </p>
       <p> More Free time at your disposal </p>
       <p> Single Point Of Contact</p>
       <%= image_tag "benefits.jpg", { :height => "350px",  :width => "269px" } %>
     </div>
     <div class="howWork">
       <h2> How It Works </h2>
       <p> 1. Contact us with your job requirements. </p>
       <p> 2. We will forward your request to the appropriate contractor/s.</p>
       <p> 3. They will contact you to arrange a quote.</p>
       <%= image_tag "customersati.jpg", { :height => "350px",  :width => "269px" } %>
     </div>
   </div>
    <h6 id="copyright">
       copyright &copy; TradieFind 2016
    </h6>

  </footer>
</div>
