<div class="container">

  <footer class="footer">
<% if params[:action] == "home" %>
    <div class="homeIndexContent">
      <div class="benefits">
       <h2> Benefits Of Using TradieFind </h2>
       <li> No more searching through Yellow Pages or Local Papers.</li>
       <li> No more ringing around chasing tradespeople. </li>
       <li> No more unreturned phone calls or worse ‘NO SHOWS’ </li>
       <li> More Free time at your disposal </li>
       <li> Single Point Of Contact</li>
       <%= image_tag ("tradie.jpg"), :class => "img1"%>
     </div>
     <div class="howWork">
       <h2> How It Works </h2>
       <li> 1. Contact us with your job requirements. </li>
       <li> 2. We will forward your request to the appropriate contractor/s.</li>
       <li> 3. They will contact you to arrange a quote.</li>
       <%= image_tag ("customersati.jpg"), :class => "img2" %>
     </div>
   </div>
   <% end %>

    <h6 id="copyright">
       copyright &copy; TradieFind 2016
    </h6>

  </footer>
</div>
